[run]
source = pkpd
omit = 
    pkpd/tests/*
    pkpd/inference.py
    pkpd/model.py
    pkpd/utils.py

[report]
exclude_lines =
    pragma: no cover
    pragma: no linux cover
    pragma: no python 3 cover
